@import "../../../constants.scss";
.cart-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    transition: all 0.3s ease;
    &:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
}
h5{
    color: $disablecolor;
    font-size: 18px;
}
.cart-container{
    margin-top: 24px;
   .cart-count{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 14px;
        font-weight: bold;
        color: $maincolor;
    }
    .cart-item:not(:first-child){
        margin-top: 10px;
    }
}
.empty-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $disablecolor;
    height: 48px;
}