@import '../../../variables.scss';
.button{
    background-color: $maincolor;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    padding: 4px 8px;
    text-align: center;
    transition: all 0.3s;
    width: 100%;
    &:hover{
        background-color: #f5f5f5;
        color: $maincolor;
    }
}